# Ignore docs files
assets/frontend/.sass-cache
assets/frontend/.sass-cache/*
assets/frontend/css/.sass-cache
assets/frontend/css/.sass-cache/*
assets/admin/css/.sass-cache
assets/admin/css/.sass-cache/*
*.scssc
