/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/**
 * Mixins
 */
/*
Specific Core Theme Styles
*/
#page #main #primary #content .tfrh {
  margin: 50px auto 0; }
  #page #main #primary #content .tfrh .hentry.has-post-thumbnail {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 48px; }
  #page #main #primary #content .tfrh .hentry:first-of-type {
    border-top: 0;
    padding-top: 0; }

.twentyfifteen .page-title {
  margin: 0 8.3333%;
  margin-bottom: 40px; }
.twentyfifteen article,
.twentyfifteen .hentry.has-post-thumbnail {
  padding: 8.3333% 50px 50px; }
.twentyfifteen h1.recipe-single-title,
.twentyfifteen h1.recipe-archive-title {
  margin-bottom: 0.4em; }
.twentyfifteen .recipe-single-meta,
.twentyfifteen .recipe-archive-meta {
  margin-bottom: 15px; }

.theme-point.recipe-hero #primary {
  margin-left: 22px; }
  .theme-point.recipe-hero #primary > .article {
    margin-top: 15px; }
.theme-point.recipe-hero aside.sidebar {
  margin-top: 23px;
  margin-right: 20px; }

/*
Single / Archive Template
*/
.recipe-archive-tax-header h1 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px; }
.recipe-archive-tax-header p {
  line-height: 1.5;
  font-size: 14px; }

nav.recipe-hero-pagination {
  text-align: center; }
  nav.recipe-hero-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px; }
    nav.recipe-hero-pagination ul li {
      border-right: 1px solid #d3ced2;
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden; }
      nav.recipe-hero-pagination ul li a,
      nav.recipe-hero-pagination ul li span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1;
        font-size: 1em;
        font-weight: normal;
        padding: .5em;
        min-width: 1em;
        display: block; }
      nav.recipe-hero-pagination ul li span.current,
      nav.recipe-hero-pagination ul li a:hover,
      nav.recipe-hero-pagination ul li a:focus {
        background: #ebe9eb;
        color: #8a7e88; }

.recipe-hero {
  	/**
   * Reviews
   */
  /**
   * Star ratings
   */ }
  .recipe-hero article.recipe {
    line-height: 1.4; }
    .recipe-hero article.recipe .entry-header {
      margin-bottom: 1.8em; }
    .recipe-hero article.recipe h4 {
      font-size: 23px;
      margin-bottom: 18px;
      font-weight: 600; }
    .recipe-hero article.recipe .recipe-single-title,
    .recipe-hero article.recipe .recipe-archive-title {
      font-size: 35px; }
    .recipe-hero article.recipe .recipe-single-meta,
    .recipe-hero article.recipe .recipe-archive-meta {
      margin-top: 10px; }
      .recipe-hero article.recipe .recipe-single-meta .date, .recipe-hero article.recipe .recipe-single-meta .author, .recipe-hero article.recipe .recipe-single-meta .recipe-hero-recipe-rating, .recipe-hero article.recipe .recipe-single-meta .edit-link,
      .recipe-hero article.recipe .recipe-archive-meta .date,
      .recipe-hero article.recipe .recipe-archive-meta .author,
      .recipe-hero article.recipe .recipe-archive-meta .recipe-hero-recipe-rating,
      .recipe-hero article.recipe .recipe-archive-meta .edit-link {
        display: inline-block;
        vertical-align: bottom;
        padding-left: 15px;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.4; }
        .recipe-hero article.recipe .recipe-single-meta .date:before, .recipe-hero article.recipe .recipe-single-meta .author:before, .recipe-hero article.recipe .recipe-single-meta .recipe-hero-recipe-rating:before, .recipe-hero article.recipe .recipe-single-meta .edit-link:before,
        .recipe-hero article.recipe .recipe-archive-meta .date:before,
        .recipe-hero article.recipe .recipe-archive-meta .author:before,
        .recipe-hero article.recipe .recipe-archive-meta .recipe-hero-recipe-rating:before,
        .recipe-hero article.recipe .recipe-archive-meta .edit-link:before {
          display: none; }
        .recipe-hero article.recipe .recipe-single-meta .date .dashicons, .recipe-hero article.recipe .recipe-single-meta .author .dashicons, .recipe-hero article.recipe .recipe-single-meta .recipe-hero-recipe-rating .dashicons, .recipe-hero article.recipe .recipe-single-meta .edit-link .dashicons,
        .recipe-hero article.recipe .recipe-archive-meta .date .dashicons,
        .recipe-hero article.recipe .recipe-archive-meta .author .dashicons,
        .recipe-hero article.recipe .recipe-archive-meta .recipe-hero-recipe-rating .dashicons,
        .recipe-hero article.recipe .recipe-archive-meta .edit-link .dashicons {
          font-size: 16px;
          vertical-align: bottom;
          line-height: 1.35; }
        .recipe-hero article.recipe .recipe-single-meta .date a, .recipe-hero article.recipe .recipe-single-meta .author a, .recipe-hero article.recipe .recipe-single-meta .recipe-hero-recipe-rating a, .recipe-hero article.recipe .recipe-single-meta .edit-link a,
        .recipe-hero article.recipe .recipe-archive-meta .date a,
        .recipe-hero article.recipe .recipe-archive-meta .author a,
        .recipe-hero article.recipe .recipe-archive-meta .recipe-hero-recipe-rating a,
        .recipe-hero article.recipe .recipe-archive-meta .edit-link a {
          float: none;
          font-size: 14px; }
      .recipe-hero article.recipe .recipe-single-meta .date,
      .recipe-hero article.recipe .recipe-archive-meta .date {
        padding-left: 0; }
      .recipe-hero article.recipe .recipe-single-meta .comments-link a:before,
      .recipe-hero article.recipe .recipe-archive-meta .comments-link a:before {
        content: none; }
    .recipe-hero article.recipe .images {
      margin-bottom: 10px; }
      .recipe-hero article.recipe .images .recipe-hero-main-image img {
        display: inline-block;
        margin-bottom: 0; }
      .recipe-hero article.recipe .images .thumbnails {
        margin-top: 5px;
        *zoom: 1; }
        .recipe-hero article.recipe .images .thumbnails:before, .recipe-hero article.recipe .images .thumbnails:after {
          content: " ";
          display: table; }
        .recipe-hero article.recipe .images .thumbnails:after {
          clear: both; }
        .recipe-hero article.recipe .images .thumbnails a {
          float: left; }
          .recipe-hero article.recipe .images .thumbnails a.columns-3 {
            width: 30.80%;
            margin-right: 3.8%; }
          .recipe-hero article.recipe .images .thumbnails a.columns-4 {
            width: 23.05%;
            margin-right: 2.55%; }
          .recipe-hero article.recipe .images .thumbnails a.columns-5 {
            width: 18.24%;
            margin-right: 2.2%; }
          .recipe-hero article.recipe .images .thumbnails a.columns-6 {
            width: 14.33%;
            margin-right: 2.8%; }
          .recipe-hero article.recipe .images .thumbnails a img {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            height: auto; }
        .recipe-hero article.recipe .images .thumbnails a.last {
          margin-right: 0; }
        .recipe-hero article.recipe .images .thumbnails a.first {
          clear: both; }
      .recipe-hero article.recipe .images .recipe-schema-thumb {
        display: none; }
    .recipe-hero article.recipe .recipe-single-tax .cuisine,
    .recipe-hero article.recipe .recipe-single-tax .course,
    .recipe-hero article.recipe .recipe-archive-tax .cuisine,
    .recipe-hero article.recipe .recipe-archive-tax .course {
      display: inline-block;
      padding-right: 15px; }
      .recipe-hero article.recipe .recipe-single-tax .cuisine strong,
      .recipe-hero article.recipe .recipe-single-tax .course strong,
      .recipe-hero article.recipe .recipe-archive-tax .cuisine strong,
      .recipe-hero article.recipe .recipe-archive-tax .course strong {
        font-size: 16px; }
        .recipe-hero article.recipe .recipe-single-tax .cuisine strong:after,
        .recipe-hero article.recipe .recipe-single-tax .course strong:after,
        .recipe-hero article.recipe .recipe-archive-tax .cuisine strong:after,
        .recipe-hero article.recipe .recipe-archive-tax .course strong:after {
          content: ':'; }
      .recipe-hero article.recipe .recipe-single-tax .cuisine ul,
      .recipe-hero article.recipe .recipe-single-tax .course ul,
      .recipe-hero article.recipe .recipe-archive-tax .cuisine ul,
      .recipe-hero article.recipe .recipe-archive-tax .course ul {
        display: inline-block;
        list-style-type: none;
        margin-left: 5px;
        margin-bottom: 0; }
        .recipe-hero article.recipe .recipe-single-tax .cuisine ul li,
        .recipe-hero article.recipe .recipe-single-tax .course ul li,
        .recipe-hero article.recipe .recipe-archive-tax .cuisine ul li,
        .recipe-hero article.recipe .recipe-archive-tax .course ul li {
          display: inline-block;
          padding: 3px 8px;
          margin: 0 5px 0 0;
          background: #fff;
          border: 1px solid #ddd;
          -moz-transition: all 200ms ease;
          -o-transition: all 200ms ease;
          -webkit-transition: all 200ms ease;
          -ms-transition: all 200ms ease;
          transition: all 200ms ease; }
          .recipe-hero article.recipe .recipe-single-tax .cuisine ul li a,
          .recipe-hero article.recipe .recipe-single-tax .course ul li a,
          .recipe-hero article.recipe .recipe-archive-tax .cuisine ul li a,
          .recipe-hero article.recipe .recipe-archive-tax .course ul li a {
            text-decoration: none; }
          .recipe-hero article.recipe .recipe-single-tax .cuisine ul li:hover,
          .recipe-hero article.recipe .recipe-single-tax .course ul li:hover,
          .recipe-hero article.recipe .recipe-archive-tax .cuisine ul li:hover,
          .recipe-hero article.recipe .recipe-archive-tax .course ul li:hover {
            background: #fbfbfb; }
    .recipe-hero article.recipe .recipe-single-tax .cuisine,
    .recipe-hero article.recipe .recipe-archive-tax .cuisine {
      border-right: 1px solid #ddd;
      padding-right: 15px;
      margin-right: 15px; }
    .recipe-hero article.recipe .recipe-single-details,
    .recipe-hero article.recipe .recipe-archive-details {
      margin-top: 20px; }
      .recipe-hero article.recipe .recipe-single-details > div,
      .recipe-hero article.recipe .recipe-archive-details > div {
        margin-bottom: 5px; }
      .recipe-hero article.recipe .recipe-single-details strong,
      .recipe-hero article.recipe .recipe-archive-details strong {
        font-size: 16px;
        display: block;
        margin-bottom: 5px; }
      .recipe-hero article.recipe .recipe-single-details .serves, .recipe-hero article.recipe .recipe-single-details .equipment, .recipe-hero article.recipe .recipe-single-details .prep-time, .recipe-hero article.recipe .recipe-single-details .cook-time, .recipe-hero article.recipe .recipe-single-details .total-time,
      .recipe-hero article.recipe .recipe-archive-details .serves,
      .recipe-hero article.recipe .recipe-archive-details .equipment,
      .recipe-hero article.recipe .recipe-archive-details .prep-time,
      .recipe-hero article.recipe .recipe-archive-details .cook-time,
      .recipe-hero article.recipe .recipe-archive-details .total-time {
        font-size: 14px; }
      .recipe-hero article.recipe .recipe-single-details .prep-time span, .recipe-hero article.recipe .recipe-single-details .cook-time span,
      .recipe-hero article.recipe .recipe-archive-details .prep-time span,
      .recipe-hero article.recipe .recipe-archive-details .cook-time span {
        font-size: 17px;
        vertical-align: middle; }
      .recipe-hero article.recipe .recipe-single-details .total-time,
      .recipe-hero article.recipe .recipe-archive-details .total-time {
        font-weight: bold; }
    .recipe-hero article.recipe .recipe-archive-details > div {
      margin-bottom: 15px; }
    .recipe-hero article.recipe .recipe-single-content {
      font-size: 16px;
      margin-top: 25px;
      line-height: 1.6; }
      .recipe-hero article.recipe .recipe-single-content p {
        margin-bottom: 12px; }
    .recipe-hero article.recipe .recipe-archive-content {
      font-size: 16px;
      line-height: 1.6; }
      .recipe-hero article.recipe .recipe-archive-content p {
        margin-bottom: 12px; }
      .recipe-hero article.recipe .recipe-archive-content .sharedaddy {
        margin-top: 15px; }
    .recipe-hero article.recipe .recipe-single-ingredients h4 {
      margin-top: 25px; }
    .recipe-hero article.recipe .recipe-single-ingredients ul.ingredients-list {
      margin-left: 0;
      padding-left: 0;
      font-size: 14px;
      list-style: none; }
      .recipe-hero article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item {
        padding-bottom: 5px;
        margin-left: 0; }
        .recipe-hero article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item label {
          display: inline-block; }
        .recipe-hero article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item .amount {
          text-align: right;
          min-width: 20%;
          display: inline-block;
          font-weight: bold;
          float: none; }
        .recipe-hero article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item .name {
          text-align: left;
          display: inline-block;
          padding-left: 5px; }
    .recipe-hero article.recipe .recipe-single-instructions h4 {
      margin-top: 25px; }
    .recipe-hero article.recipe .recipe-single-instructions ol.steps-list {
      list-style-type: decimal; }
      .recipe-hero article.recipe .recipe-single-instructions ol.steps-list li.steps-item {
        margin-bottom: 30px; }
        .recipe-hero article.recipe .recipe-single-instructions ol.steps-list li.steps-item p {
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 1.6; }
        .recipe-hero article.recipe .recipe-single-instructions ol.steps-list li.steps-item img.step-image {
          max-width: 100%; }
    .recipe-hero article.recipe .recipe-single-nutrition {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 15px; }
  .recipe-hero #reviews h2 small {
    float: right;
    color: #515151;
    font-size: 15px;
    margin: 10px 0 0 0; }
    .recipe-hero #reviews h2 small a {
      text-decoration: none;
      color: #515151; }
  .recipe-hero #reviews h3 {
    margin: 0; }
  .recipe-hero #reviews #respond {
    margin: 0;
    border: 0;
    padding: 0; }
  .recipe-hero #reviews #comment {
    height: 75px; }
  .recipe-hero #reviews #comments .add_review {
    *zoom: 1; }
    .recipe-hero #reviews #comments .add_review:before, .recipe-hero #reviews #comments .add_review:after {
      content: " ";
      display: table; }
    .recipe-hero #reviews #comments .add_review:after {
      clear: both; }
  .recipe-hero #reviews #comments h2 {
    clear: none; }
  .recipe-hero #reviews #comments ol.commentlist {
    *zoom: 1;
    margin: 0;
    width: 100%;
    background: none;
    list-style: none;
    margin-top: 25px; }
    .recipe-hero #reviews #comments ol.commentlist:before, .recipe-hero #reviews #comments ol.commentlist:after {
      content: " ";
      display: table; }
    .recipe-hero #reviews #comments ol.commentlist:after {
      clear: both; }
    .recipe-hero #reviews #comments ol.commentlist li {
      padding: 0;
      margin: 0 0 20px;
      border: 0;
      position: relative;
      background: 0;
      border: 0; }
      .recipe-hero #reviews #comments ol.commentlist li .meta {
        color: #515151;
        font-size: 0.75em; }
      .recipe-hero #reviews #comments ol.commentlist li img.avatar {
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px;
        width: 32px;
        height: auto;
        background: #ebe9eb;
        border: 1px solid #e4e1e3;
        margin: 0;
        box-shadow: none;
        border-radius: 100%; }
      .recipe-hero #reviews #comments ol.commentlist li .comment-text {
        margin: 0 0 0 50px;
        border: 1px solid #e4e1e3;
        border-radius: 2px;
        padding: 1em 1em 0;
        *zoom: 1; }
        .recipe-hero #reviews #comments ol.commentlist li .comment-text:before, .recipe-hero #reviews #comments ol.commentlist li .comment-text:after {
          content: " ";
          display: table; }
        .recipe-hero #reviews #comments ol.commentlist li .comment-text:after {
          clear: both; }
        .recipe-hero #reviews #comments ol.commentlist li .comment-text p {
          margin: 0 0 1em; }
        .recipe-hero #reviews #comments ol.commentlist li .comment-text p.meta {
          font-size: 0.83em; }
          .recipe-hero #reviews #comments ol.commentlist li .comment-text p.meta .time {
            color: #888; }
    .recipe-hero #reviews #comments ol.commentlist ul.children {
      list-style: none outside;
      margin: 20px 0 0 50px; }
      .recipe-hero #reviews #comments ol.commentlist ul.children .star-rating {
        display: none; }
    .recipe-hero #reviews #comments ol.commentlist #respond {
      border: 1px solid #e4e1e3;
      border-radius: 4px;
      padding: 1em 1em 0;
      margin: 20px 0 0 50px; }
  .recipe-hero #reviews #comments .commentlist > li:before {
    content: ""; }
  .recipe-hero .star-rating {
    float: right;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 8.4em; }
    .recipe-hero .star-rating .dashicons {
      color: #e3cf7a; }
      .recipe-hero .star-rating .dashicons.dashicons-star-empty {
        color: #ccc; }
  .recipe-hero #review_form #respond {
    *zoom: 1;
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0; }
    .recipe-hero #review_form #respond:before, .recipe-hero #review_form #respond:after {
      content: " ";
      display: table; }
    .recipe-hero #review_form #respond:after {
      clear: both; }
    .recipe-hero #review_form #respond p {
      margin: 0 0 15px; }
    .recipe-hero #review_form #respond .form-submit input {
      left: auto; }
    .recipe-hero #review_form #respond textarea {
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */
      width: 100%; }
  .recipe-hero p.stars {
    position: relative;
    font-size: 1em; }
    .recipe-hero p.stars a {
      display: inline-block;
      font-weight: 700;
      margin-right: 1em;
      text-indent: -9999px;
      position: relative;
      border-bottom: 0 !important;
      outline: 0; }
      .recipe-hero p.stars a:last-child {
        border-right: 0; }
      .recipe-hero p.stars a.star-1, .recipe-hero p.stars a.star-2, .recipe-hero p.stars a.star-3, .recipe-hero p.stars a.star-4, .recipe-hero p.stars a.star-5 {
        border-right: 1px solid #ccc; }
        .recipe-hero p.stars a.star-1:after, .recipe-hero p.stars a.star-2:after, .recipe-hero p.stars a.star-3:after, .recipe-hero p.stars a.star-4:after, .recipe-hero p.stars a.star-5:after {
          font-family: "dashicons";
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 0;
          color: #ccc; }
        .recipe-hero p.stars a.star-1:hover:after, .recipe-hero p.stars a.star-1.active:after, .recipe-hero p.stars a.star-2:hover:after, .recipe-hero p.stars a.star-2.active:after, .recipe-hero p.stars a.star-3:hover:after, .recipe-hero p.stars a.star-3.active:after, .recipe-hero p.stars a.star-4:hover:after, .recipe-hero p.stars a.star-4.active:after, .recipe-hero p.stars a.star-5:hover:after, .recipe-hero p.stars a.star-5.active:after {
          color: #e3cf7a; }
      .recipe-hero p.stars a.star-1 {
        width: 2em; }
        .recipe-hero p.stars a.star-1:after {
          content: "\f154"; }
        .recipe-hero p.stars a.star-1:hover:after, .recipe-hero p.stars a.star-1.active:after {
          content: "\f155"; }
      .recipe-hero p.stars a.star-2 {
        width: 3em; }
        .recipe-hero p.stars a.star-2:after {
          content: "\f154\f154"; }
        .recipe-hero p.stars a.star-2:hover:after, .recipe-hero p.stars a.star-2.active:after {
          content: "\f155\f155"; }
      .recipe-hero p.stars a.star-3 {
        width: 4em; }
        .recipe-hero p.stars a.star-3:after {
          content: "\f154\f154\f154"; }
        .recipe-hero p.stars a.star-3:hover:after, .recipe-hero p.stars a.star-3.active:after {
          content: "\f155\f155\f155"; }
      .recipe-hero p.stars a.star-4 {
        width: 5em; }
        .recipe-hero p.stars a.star-4:after {
          content: "\f154\f154\f154\f154"; }
        .recipe-hero p.stars a.star-4:hover:after, .recipe-hero p.stars a.star-4.active:after {
          content: "\f155\f155\f155\f155"; }
      .recipe-hero p.stars a.star-5 {
        width: 6em;
        border: 0; }
        .recipe-hero p.stars a.star-5:after {
          content: "\f154\f154\f154\f154\f154"; }
        .recipe-hero p.stars a.star-5:hover:after, .recipe-hero p.stars a.star-5.active:after {
          content: "\f155\f155\f155\f155\f155"; }

@media all and (max-width: 799px) {
  article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item .amount {
    display: inline;
    min-width: auto; }
  article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item .name {
    display: inline; } }
