@import 'rh-mixins';

/*
Specific Core Theme Styles
*/

// Twenty Fourteen
#page {
	#main {
		#primary {
			#content {
				.tfrh {
					margin: 50px auto 0;
					.hentry.has-post-thumbnail {
						border-top: 1px solid rgba(0, 0, 0, 0.1);
						padding-top: 48px;
					}
					.hentry:first-of-type {
						border-top: 0;
						padding-top: 0;
					}
				}
			}
		}
	}
}

/*
Single / Archive Template
*/

.recipe-archive-tax-header {
	h1 {
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	p {
		line-height: 1.5;
		font-size: 14px;
	}
}
article.recipe {
	line-height: 1.4;
	h4 {
		font-size: 23px;
		margin-bottom: 18px;
		font-weight: 600;
	}
	.recipe-single-title,
	.recipe-archive-title {
		font-size: 35px;
	}
	.recipe-single-meta,
	.recipe-archive-meta {
		margin-top: 10px;
		.date, .author, .comments-link, .edit-link {
			display: inline-block;
			vertical-align: bottom;
			padding-left: 15px;
			font-size: 14px;
			margin-top: 0;
			line-height: 1.5;
			.dashicons {
				font-size: 16px;
				vertical-align: bottom;
				line-height: 1.35;
			}
			a {
				float: none;
				font-size: 14px;
			}
		}
		.date {
			padding-left: 0;
		}
		.comments-link a:before {
			content: none;
		}
	}
	.images {
		margin-bottom: 10px;
		.thumbnails {
			margin-top: 5px;
			@include clearfix();
			a {
				float:left;
				&.columns-3 {
					width: 30.75%;
					margin-right: 3.8%;
				}
				&.columns-4 {
					width: 22.85%;
					margin-right: 2.55%;
				}
				&.columns-5 {
					width: 18.05%;
					margin-right: 2.2%;
				}
				&.columns-6 {
					width: 14.2%;
					margin-right: 2.8%;
				}
				img {
					display: block;
					width: 100%;
					margin-bottom: 10px;
					height: auto;
				}
			}
			a.last {
				margin-right: 0;
			}
			a.first {
				clear:both;
			}
		}
		.recipe-schema-thumb {
			display: none;
		}
	}
	.recipe-single-tax,
	.recipe-archive-tax {
		.cuisine,
		.course {
			display: inline-block;
			padding-right: 15px;
			strong {
				font-size: 16px;
				&:after {
					content: ':';
				}
			}
			ul {
				display: inline-block;
				list-style-type: none;
				margin-left: 5px;
				margin-bottom: 0;
				li {
					display: inline-block;
					padding: 3px 8px;
					margin: 0 5px 0 0;
					background: #fff;
					border: 1px solid #ddd;
					@include transition(all, 200ms, ease);
					a {
						text-decoration: none;
					}
					&:hover {
						background: #fbfbfb;

					}
				}
			}
		}
		.cuisine {
			border-right: 1px solid #ddd;
			padding-right: 15px;
			margin-right: 15px;
		}
	}
	.recipe-single-details,
	.recipe-archive-details {
		margin-top: 20px;
		> div {
			margin-bottom: 5px;
		}
		strong {
			font-size: 16px;
			display: block;
			margin-bottom: 5px;
		}
		.serves, .equipment, .prep-time, .cook-time, .total-time {
			font-size: 14px;
		}
		.serves {
		}
		.equipment {
			.equipment-item {
			}
		}
		.prep-time {
		}
		.cook-time {
		}
		.prep-time, .cook-time {
			span {
				font-size: 17px;
				vertical-align: middle;
			}
		}
		.total-time {
			font-weight: bold;
		}

	}
	.recipe-archive-details {
		> div {
			margin-bottom: 15px;
		}
	}
	.recipe-single-content {
		font-size: 16px;
		margin-top: 25px;
		line-height: 1.6;
		p {
			margin-bottom: 12px;
		}
	}
	.recipe-archive-content {
		font-size: 16px;
		line-height: 1.6;
		p {
			margin-bottom: 12px;
		}
		.sharedaddy {
			margin-top: 15px;
		}
	}
	.recipe-single-ingredients {
		h4 {
			margin-top: 25px;
		}
		ul.ingredients-list {
			margin-left: 0;
		   	column-count: 2;
	       	column-gap: 20px;
	       -moz-column-count: 2;
	       -moz-column-gap: 20px;
	       -webkit-column-count: 2;
	       -webkit-column-gap : 20px;
	       font-size: 14px;
	       list-style: none;
			li.ingredients-item {
				padding-bottom: 5px;
				margin-left: 0;
			}
		}
	}
	.recipe-single-instructions {
		h4 {
			margin-top: 25px;
		}
		ol.steps-list {
			list-style-type: decimal;
			li.steps-item {
				margin-bottom: 30px;
				p {
					margin-bottom: 15px;
					font-size: 14px;
					line-height: 1.6;
				}
				img.step-image {
					max-width: 100%;
				}
			}
		}
	}
	.recipe-single-nutrition {
		font-size: 14px;
		line-height: 1.6;
		margin-bottom: 15px;
	}
	hr.recipe-single-seperator {
		background: #ddd;
	}
}

.single-recipe #comments {
}
