/* This stylesheet is used to style the admin option form of the plugin. */
.post-type-recipe #posts-filter .wp-list-table tr th#id {
  width: 50px; }

.recipe_page_recipe_hero_general_options #wpcontent,
.recipe_page_recipe_hero_style_options #wpcontent,
.recipe_page_recipe_hero_labels_options #wpcontent {
  margin-left: 160px; }
.recipe_page_recipe_hero_general_options .recipe-hero-settings,
.recipe_page_recipe_hero_style_options .recipe-hero-settings,
.recipe_page_recipe_hero_labels_options .recipe-hero-settings {
  margin: 0; }
  .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header,
  .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header,
  .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header {
    background: #c90000;
    padding-left: 20px;
    border-bottom: 10px solid #a70000; }
    .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header span,
    .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header span,
    .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header span {
      color: #fff;
      padding-top: 0px; }
    .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header h1,
    .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header h1,
    .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header h1 {
      color: #fff;
      font-size: 23px;
      line-height: 29px;
      margin: 0 15px 0 0;
      font-weight: normal;
      display: inline-block;
      padding-top: 0;
      padding-bottom: 5px;
      vertical-align: middle; }
    .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul,
    .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul,
    .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul {
      margin: 0; }
      .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li,
      .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li,
      .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li {
        display: inline-block;
        margin: 0;
        margin-right: -4px; }
        .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li.active, .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li.pages:hover,
        .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li.active,
        .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li.pages:hover,
        .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li.active,
        .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li.pages:hover {
          background: #a70000; }
        .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li.pages:active,
        .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li.pages:active,
        .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li.pages:active {
          background: #960000; }
        .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li a,
        .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li a,
        .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          line-height: 55px;
          padding: 0 1em; }
          .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li a:active, .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-header ul li a:focus,
          .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li a:active,
          .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-header ul li a:focus,
          .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li a:active,
          .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-header ul li a:focus {
            outline: 0; }
  .recipe_page_recipe_hero_general_options .recipe-hero-settings #setting-error-settings_updated,
  .recipe_page_recipe_hero_style_options .recipe-hero-settings #setting-error-settings_updated,
  .recipe_page_recipe_hero_labels_options .recipe-hero-settings #setting-error-settings_updated {
    margin: 10px 15px 0 20px; }
  .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-fields,
  .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-fields,
  .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-fields {
    padding: 10px 0 0 25px; }
    .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-fields input#per_page,
    .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-fields input#per_page,
    .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-fields input#per_page {
      width: 60px;
      height: 150%;
      font-size: 110%; }
    .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-fields .option-description,
    .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-fields .option-description,
    .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-fields .option-description {
      color: #999;
      font-style: italic;
      font-size: 13px; }
      .recipe_page_recipe_hero_general_options .recipe-hero-settings .rhs-fields .option-description code,
      .recipe_page_recipe_hero_style_options .recipe-hero-settings .rhs-fields .option-description code,
      .recipe_page_recipe_hero_labels_options .recipe-hero-settings .rhs-fields .option-description code {
        font-size: 12px; }
