/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* 
Specific Core Theme Styles
*/
#page #main #primary #content .tfrh {
  margin: 50px auto 0; }
  #page #main #primary #content .tfrh .hentry.has-post-thumbnail {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 48px; }
  #page #main #primary #content .tfrh .hentry:first-of-type {
    border-top: 0;
    padding-top: 0; }

/* 
Single / Archive Template
*/
.recipe-archive-tax-header h1 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px; }

article.recipe {
  line-height: 1.4; }
  article.recipe h4 {
    font-size: 23px;
    margin-bottom: 18px;
    font-weight: 600; }
  article.recipe .recipe-single-title,
  article.recipe .recipe-archive-title {
    font-size: 35px; }
  article.recipe .recipe-single-meta,
  article.recipe .recipe-archive-meta {
    margin-top: 10px; }
    article.recipe .recipe-single-meta .date, article.recipe .recipe-single-meta .author, article.recipe .recipe-single-meta .comments-link, article.recipe .recipe-single-meta .edit-link,
    article.recipe .recipe-archive-meta .date,
    article.recipe .recipe-archive-meta .author,
    article.recipe .recipe-archive-meta .comments-link,
    article.recipe .recipe-archive-meta .edit-link {
      display: inline-block;
      padding-left: 15px;
      font-size: 14px;
      margin-top: 0; }
      article.recipe .recipe-single-meta .date .dashicons, article.recipe .recipe-single-meta .author .dashicons, article.recipe .recipe-single-meta .comments-link .dashicons, article.recipe .recipe-single-meta .edit-link .dashicons,
      article.recipe .recipe-archive-meta .date .dashicons,
      article.recipe .recipe-archive-meta .author .dashicons,
      article.recipe .recipe-archive-meta .comments-link .dashicons,
      article.recipe .recipe-archive-meta .edit-link .dashicons {
        font-size: 16px;
        vertical-align: bottom; }
    article.recipe .recipe-single-meta .date,
    article.recipe .recipe-archive-meta .date {
      padding-left: 0; }
    article.recipe .recipe-single-meta .comments-link a:before,
    article.recipe .recipe-archive-meta .comments-link a:before {
      content: none; }
  article.recipe .recipe-single-photo,
  article.recipe .recipe-archive-photo {
    margin-top: 15px;
    margin-bottom: 15px; }
    article.recipe .recipe-single-photo img,
    article.recipe .recipe-archive-photo img {
      max-width: 100%;
      padding: 3px;
      border: 1px solid #ddd;
      border-radius: 5px; }
    article.recipe .recipe-single-photo a img,
    article.recipe .recipe-archive-photo a img {
      -moz-transition: all 150ms ease;
      -o-transition: all 150ms ease;
      -webkit-transition: all 150ms ease;
      -ms-transition: all 150ms ease;
      transition: all 150ms ease; }
    article.recipe .recipe-single-photo a:hover img,
    article.recipe .recipe-archive-photo a:hover img {
      opacity: 0.8; }
    article.recipe .recipe-single-photo .recipe-schema-thumb,
    article.recipe .recipe-archive-photo .recipe-schema-thumb {
      display: none; }
  article.recipe .recipe-single-tax .cuisine,
  article.recipe .recipe-single-tax .course,
  article.recipe .recipe-archive-tax .cuisine,
  article.recipe .recipe-archive-tax .course {
    display: inline-block;
    padding-right: 15px; }
    article.recipe .recipe-single-tax .cuisine strong,
    article.recipe .recipe-single-tax .course strong,
    article.recipe .recipe-archive-tax .cuisine strong,
    article.recipe .recipe-archive-tax .course strong {
      font-size: 16px; }
    article.recipe .recipe-single-tax .cuisine ul,
    article.recipe .recipe-single-tax .course ul,
    article.recipe .recipe-archive-tax .cuisine ul,
    article.recipe .recipe-archive-tax .course ul {
      display: inline-block;
      list-style-type: none;
      margin-left: 5px;
      margin-bottom: 0; }
      article.recipe .recipe-single-tax .cuisine ul li,
      article.recipe .recipe-single-tax .course ul li,
      article.recipe .recipe-archive-tax .cuisine ul li,
      article.recipe .recipe-archive-tax .course ul li {
        display: inline-block;
        padding: 3px 8px;
        margin: 0 5px 0 0;
        background: #fff;
        border: 1px solid #ddd;
        -moz-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        -webkit-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        transition: all 200ms ease; }
        article.recipe .recipe-single-tax .cuisine ul li a,
        article.recipe .recipe-single-tax .course ul li a,
        article.recipe .recipe-archive-tax .cuisine ul li a,
        article.recipe .recipe-archive-tax .course ul li a {
          text-decoration: none; }
        article.recipe .recipe-single-tax .cuisine ul li:hover,
        article.recipe .recipe-single-tax .course ul li:hover,
        article.recipe .recipe-archive-tax .cuisine ul li:hover,
        article.recipe .recipe-archive-tax .course ul li:hover {
          background: #fbfbfb; }
  article.recipe .recipe-single-tax .cuisine,
  article.recipe .recipe-archive-tax .cuisine {
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px; }
  article.recipe .recipe-single-details,
  article.recipe .recipe-archive-details {
    margin-top: 20px; }
    article.recipe .recipe-single-details > div,
    article.recipe .recipe-archive-details > div {
      margin-bottom: 5px; }
    article.recipe .recipe-single-details strong,
    article.recipe .recipe-archive-details strong {
      font-size: 16px;
      display: block;
      color: #333;
      margin-bottom: 5px; }
    article.recipe .recipe-single-details .serves, article.recipe .recipe-single-details .equipment, article.recipe .recipe-single-details .prep-time, article.recipe .recipe-single-details .cook-time, article.recipe .recipe-single-details .total-time,
    article.recipe .recipe-archive-details .serves,
    article.recipe .recipe-archive-details .equipment,
    article.recipe .recipe-archive-details .prep-time,
    article.recipe .recipe-archive-details .cook-time,
    article.recipe .recipe-archive-details .total-time {
      font-size: 14px; }
    article.recipe .recipe-single-details .prep-time span, article.recipe .recipe-single-details .cook-time span,
    article.recipe .recipe-archive-details .prep-time span,
    article.recipe .recipe-archive-details .cook-time span {
      font-size: 17px;
      vertical-align: middle; }
    article.recipe .recipe-single-details .total-time,
    article.recipe .recipe-archive-details .total-time {
      font-weight: bold; }
  article.recipe .recipe-archive-details > div {
    margin-bottom: 15px; }
  article.recipe .recipe-single-content {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.6; }
  article.recipe .recipe-archive-content {
    font-size: 16px;
    line-height: 1.6; }
  article.recipe .recipe-single-ingredients h4 {
    margin-top: 25px; }
  article.recipe .recipe-single-ingredients ul.ingredients-list {
    margin-left: 0;
    column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    font-size: 14px;
    /* column-rule-color:  #eee;
      	column-rule-style:  solid;
      	column-rule-width:  1px;
      -moz-column-rule-color:  #eee;
      -moz-column-rule-style:  solid;
      -moz-column-rule-width:  1px;
      -webkit-column-rule-color:  #eee;
      -webkit-column-rule-style: solid ;
      -webkit-column-rule-width:  1px; */ }
    article.recipe .recipe-single-ingredients ul.ingredients-list li.ingredients-item {
      padding-bottom: 5px; }
  article.recipe .recipe-single-instructions h4 {
    margin-top: 25px; }
  article.recipe .recipe-single-instructions ol.steps-list {
    list-style-type: decimal; }
    article.recipe .recipe-single-instructions ol.steps-list li.steps-item {
      margin-bottom: 30px; }
      article.recipe .recipe-single-instructions ol.steps-list li.steps-item p {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.6; }
      article.recipe .recipe-single-instructions ol.steps-list li.steps-item img.step-image {
        max-width: 100%;
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 5px; }
  article.recipe .recipe-single-nutrition {
    font-size: 14px; }
  article.recipe hr.recipe-single-seperator {
    margin-top: 25px; }
