/* This stylesheet is used to style the admin option form of the plugin. */

// Imports
@import 'lib/chosen';

.post-type-recipe {
	#posts-filter {
		.wp-list-table {
			tr {
				th {
					&#id {
						width: 50px;
					}
				}
			}
		}
	}
}

.recipe_page_recipe_hero_general_options,
.recipe_page_recipe_hero_style_options,
.recipe_page_recipe_hero_labels_options,
.recipe_page_recipe_hero_other_options {
	#wpcontent {
		margin-left: 140px;
	}
	.recipe-hero-settings {
		margin: 0;
		.rhs-header {
			background: #c90000;
			padding-left: 20px;
			border-bottom: 10px solid #a70000;
			span {
				color: #fff;
				padding-top: 0px;
			}
			h1 {
				color: #fff;
				font-size: 23px;
				line-height: 29px;
				margin: 0 15px 0 0;
				font-weight: normal;
				display: inline-block;
				padding-top: 0;
				padding-bottom: 5px;
				vertical-align: middle;
			}
			ul {
				margin: 0;
				li {
					display: inline-block;
					margin: 0;
					margin-right: -4px;
					&.active, &.pages:hover {
						background: #a70000;
					}
					&.pages:active {
						background: #960000;
					}
					a {
						color: #fff;
						font-size: 14px;
						text-decoration: none;
						line-height: 55px;
						padding: 0 1em;
						&:active,
						&:focus {
							outline: 0;
						}
					}
				}
			}
		}
		#setting-error-settings_updated {
			margin: 10px 15px 0 20px;
		}
		.rhs-fields {
			padding: 10px 0 0 25px;
			input#per_page,
			input.image-size-px {
				width: 60px;
				height: 130%;
				font-size: 110%;
			}
			input#image_size_main_crop,
			input#image_size_steps_crop {
				margin-left: 15px;
			}
			.option-description {
				color: #999;
				font-style: italic;
				font-size: 13px;
				code {
					font-size: 12px;
				}
			}
		}
	}
}

/**
jQuery UI Autocomplete Styles
**/

.ui-autocomplete {
	background: #fff;
}