@charset "UTF-8";
/**
 * Mixins
 */
/* Settings */
.recipe-hero.settings table.form-table {
  margin: 0 0 0; }
  .recipe-hero.settings table.form-table .forminp-radio ul {
    margin: 0; }
    .recipe-hero.settings table.form-table .forminp-radio ul li {
      line-height: 1.4em; }
  .recipe-hero.settings table.form-table textarea.input-text {
    height: 100%;
    min-width: 150px;
    display: block; }
  .recipe-hero.settings table.form-table input.regular-input {
    width: 25em; }
  .recipe-hero.settings table.form-table textarea.wide-input {
    width: 100%; }
  .recipe-hero.settings table.form-table img.help_tip {
    padding: 0;
    margin: -4px 0 0 5px;
    vertical-align: middle;
    cursor: help;
    line-height: 1; }
  .recipe-hero.settings table.form-table span.help_tip {
    cursor: help;
    color: blue; }
  .recipe-hero.settings table.form-table th {
    position: relative;
    padding-right: 24px; }
  .recipe-hero.settings table.form-table .select2-container {
    vertical-align: top;
    margin-bottom: 3px; }
  .recipe-hero.settings table.form-table table.widefat th {
    padding-right: inherit; }
  .recipe-hero.settings table.form-table th img.help_tip {
    margin: 0 -24px 0 0;
    float: right; }
  .recipe-hero.settings table.form-table fieldset {
    margin-top: 4px; }
    .recipe-hero.settings table.form-table fieldset img.help_tip {
      margin: -3px 0 0 5px; }
    .recipe-hero.settings table.form-table fieldset p.description {
      margin-bottom: 8px; }
    .recipe-hero.settings table.form-table fieldset:first-child {
      margin-top: 0; }
  .recipe-hero.settings table.form-table .image_width_settings {
    vertical-align: middle; }
    .recipe-hero.settings table.form-table .image_width_settings label {
      margin-left: 20px; }

#recipe-hero-recipe-images .inside {
  margin: 0;
  padding: 0; }
  #recipe-hero-recipe-images .inside .add_recipe_images {
    padding: 0 12px 12px; }
  #recipe-hero-recipe-images .inside #recipe_images_container {
    padding: 0 0 0 9px; }
    #recipe-hero-recipe-images .inside #recipe_images_container ul {
      *zoom: 1;
      margin: 0;
      padding: 0; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul:before, #recipe-hero-recipe-images .inside #recipe_images_container ul:after {
        content: " ";
        display: table; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul:after {
        clear: both; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul li.image, #recipe-hero-recipe-images .inside #recipe_images_container ul li.add, #recipe-hero-recipe-images .inside #recipe_images_container ul li.rh-metabox-sortable-placeholder {
        width: 80px;
        float: left;
        cursor: move;
        border: 1px solid #d5d5d5;
        margin: 9px 9px 0 0;
        background: #f7f7f7;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        position: relative;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */ }
        #recipe-hero-recipe-images .inside #recipe_images_container ul li.image img, #recipe-hero-recipe-images .inside #recipe_images_container ul li.add img, #recipe-hero-recipe-images .inside #recipe_images_container ul li.rh-metabox-sortable-placeholder img {
          width: 100%;
          height: auto;
          display: block; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul li.rh-metabox-sortable-placeholder {
        border: 3px dashed #dddddd;
        position: relative; }
        #recipe-hero-recipe-images .inside #recipe_images_container ul li.rh-metabox-sortable-placeholder:after {
          font-family: 'dashicons';
          speak: none;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          margin: 0;
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          content: "";
          font-size: 2.618em;
          line-height: 72px;
          color: #ddd; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions {
        position: absolute;
        top: -8px;
        right: -8px;
        padding: 2px;
        display: none; }
        #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li {
          float: right;
          margin: 0 0 0 2px; }
          #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a {
            width: 1em;
            height: 1em;
            margin: 0;
            height: 0;
            display: block;
            overflow: hidden; }
            #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.tips {
              cursor: pointer; }
          #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.view {
            display: block;
            text-indent: -9999px;
            position: relative;
            height: 1em;
            width: 1em;
            font-size: 1.4em; }
            #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.view:before {
              font-family: 'dashicons';
              speak: none;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              margin: 0;
              text-indent: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              content: "";
              background-color: #000;
              color: #fff; }
          #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.delete {
            display: block;
            text-indent: -9999px;
            position: relative;
            height: 1em;
            width: 1em;
            font-size: 1.4em; }
            #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.delete:before {
              font-family: 'dashicons';
              speak: none;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              margin: 0;
              text-indent: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              content: "";
              color: white;
              background-color: #000;
              -webkit-border-radius: 100%;
              border-radius: 100%;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
            #recipe-hero-recipe-images .inside #recipe_images_container ul ul.actions li a.delete:hover:before {
              background-color: red; }
      #recipe-hero-recipe-images .inside #recipe_images_container ul li:hover ul.actions {
        display: block; }

/* List of all Recipes - columns */
.post-type-recipe #posts-filter .wp-list-table tr th#id {
  width: 50px; }

/* Recipe Ordering */
.wp-list-table .ui-sortable tr {
  cursor: move; }

.wp-list-table .spo-updating tr,
.wp-list-table .ui-sortable tr.inline-editor {
  cursor: default; }

.wp-list-table .ui-sortable-placeholder {
  outline: 1px dashed #bbb;
  background: #F1F1F1;
  visibility: visible !important; }

.wp-list-table .ui-sortable-helper {
  background-color: #fff;
  outline: 1px solid #e1e1e1; }

.spo-updating-row .check-column {
  background: url("../../../../../../wp-admin/images/spinner.gif") 10px 9px no-repeat; }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .spo-updating-row .check-column {
    background-image: url("../../../../../../wp-admin/images/spinner-2x.gif");
    background-size: 20px 20px; } }
.spo-updating-row .check-column input {
  visibility: hidden; }

/**
jQuery UI Autocomplete Styles
**/
.ui-autocomplete {
  background: #fff; }

/* Addons */
.recipe_hero_extensions_wrap .products {
  overflow: hidden; }
  .recipe_hero_extensions_wrap .products li {
    display: inline-block;
    margin: 0 10px 10px 0 !important;
    padding: 0 0 36px;
    vertical-align: top;
    width: 280px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; }
    .recipe_hero_extensions_wrap .products li a {
      color: inherit;
      text-decoration: none; }
    .recipe_hero_extensions_wrap .products li img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0;
      background: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .recipe_hero_extensions_wrap .products li img:hover {
        opacity: 0.8; }
    .recipe_hero_extensions_wrap .products li h3 {
      margin: 0 !important;
      padding: 10px 10px !important;
      line-height: 1;
      background: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: #000;
      text-align: center;
      position: absolute;
      width: 260px;
      bottom: 0;
      left: 0;
      font-size: 16px;
      text-shadow: none; }
    .recipe_hero_extensions_wrap .products li p {
      padding: 20px !important;
      margin: 0 !important;
      border-top: 1px solid #f1f1f1; }
    .recipe_hero_extensions_wrap .products li .price {
      display: none; }
